<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>EĞİTİM AĞI || @ViewBag.Title </title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/bootstrap/bootstrap.min.css")">
    <!-- slick slider -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/slick/slick.css")">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/themify-icons/themify-icons.css")">
    <!-- animation css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/animate/animate.css")">
    <!-- aos -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/aos/aos.css")">
    <!-- venobox popup -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/venobox/venobox.css")">

    <!-- Main Stylesheet -->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon">
    @RenderSection("head", false);

</head>

<body>


    <!-- header -->
    <header class="fixed-top header">
        <!-- top header -->
        <div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="list-inline">

                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="https://localhost:44362/Home/Login">OTURUM AÇ</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" target="_blank" href="https://localhost:44362/Home/SignUp" >KAYIT OL</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <div class="navigation w-100">
            <div class="" style="z-index:99999;    background-color: indianred;width:100%;height:26px;">
                <div style="float:left;margin-left:100px;"><a class="dropdown-item" href="../../Videos/Top">En Çok İzlenen Videolar</a></div>
                <div style="float:left;background-color: indianred!important;"><a class="dropdown-item" href="/Home/Blog">En Çok Okunan Makaleler</a></div>
                <div style="float:left;background-color: indianred!important;"><a class="dropdown-item" href="/Home/Blog">En Çok Okunan Haberler</a></div>
                <div style="float:left;background-color: indianred!important;"><a class="dropdown-item" href="/Home/Blog">En Çok Görüntülenen Blog Yazıları</a></div>
                <div style="float:left;background-color: indianred!important;"><a class="dropdown-item" href="/Home/Blog">En Çok Görüntülenen Notlar</a></div>
                <div style="float:left;background-color: indianred!important;"></div>
            </div>

            <div class="container">

                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand" href="@Url.Content("~/Content/index.html")"><img src="@Url.Content("~/Content/images/logo1.jpg")" style="height:88px;" alt="logo"></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="/Home/Index">ANASAYFA</a>
                            </li>
                            <li class="nav-item @@blog">
                                <a class="nav-link" href="/Home/Blog">ÜNİVERSİTELER</a>
                            </li>
                            <li class="nav-item @@events">
                                <a class="nav-link" href="/Home/Etkinlik">ETKİNLİKLER</a>
                            </li>
                           
                            <li class="nav-item @@about">
                                <a class="nav-link" href="/Home/Hakkimizda">HAKKIMIZDA</a>
                            </li>
                            <li class="nav-item @@contact">
                                <a class="nav-link" href="/Home/Iletisim">İLETİŞİM</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <!-- /header -->
    <!-- Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>KAYIT OL</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="login">
                        <form action="ModelOnly" class="row">
                            <div class="col-12">
                                <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Adınız Soyadınız">
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email adresi giriniz.">
                            </div>
                            <div class="col-12">
                                <input for="text" class="form-control mb-3" id="signupSchool" name="signupSchool" placeholder="Kullanıcı Adınızı Giriniz">
                            </div>
                            <div class="col-12">
                                <input type="number" class="form-control mb-3" id="signupSchool" name="signupSchool" placeholder="Telefon Numarası Giriniz">
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Şifre Girin">
                            </div>
                            <div style="text-align:center">
                                <p>
                                    &emsp;
                                    <font face="Times New Roman" size="4" color="grey">
                                        <b>Üniversite Seçiniz</b>
                                    </font>
                                </p>
                                <select name="Üniversite Seçiniz">
                                    <option></option>
                                    @foreach (var item in SessionObject._universiteler)
                                    {
                                        <option>@item.uni_adi</option>
                                    }

                                    @*<option></option>
                                    <option> Bozok Üniversitesi</option>
                                    <option> Sakarya Üniversitesi</option>
                                    <option> Karadeniz Teknik Üniversitesi</option>*@
                                </select>
                            </div>
                            <div class="col-12">
                                <p>&emsp;</p>
                                <button type="submit" class="btn btn-primary">KAYIT OL</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Oturum Aç</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Kullanıcı Adınızı Giriniz">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Şifrenizi Giriniz">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    <!-- footer -->
    <!-- footer -->
    <footer>
        <!-- footer content -->
        <div class="footer bg-footer section border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                        <!-- logo -->
                        <a class="logo-footer" href="@Url.Content("~/Content/index.html")"><img class="img-fluid mb-4" src="@Url.Content("~/Content/images/logo1.jpg")" alt="logo"></a>

                    </div>
                    <!-- company -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">EĞİTİM AĞI</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/about.html")">Hakkımızda</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/teacher.html")">Eğitimciler</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/contact.html")">İletişim</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/blog.html")">Üniversiteler</a></li>
                        </ul>
                    </div>
                    <!-- links -->
                    <!-- support -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">DESTEK</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/#")">Forum</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/#")">Dökümanlar</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/#")">Makaleler</a></li>

                        </ul>
                    </div>
                    <!-- support -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">ÖNERİLER</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/#")">WordPress</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/#")">LearnPress</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/#")">WooCommerce</a></li>
                            <li class="mb-3"><a class="text-color" href="@Url.Content("~/Content/#")">bbPress</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- copyright -->
        <div class="copyright py-4 bg-footer">
            <div class="container">
                <div class="row">

                    <div class="col-sm-5 text-sm-right text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.facebook.com/themefisher"><i class="ti-facebook text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://www.twitter.com/themefisher"><i class="ti-twitter-alt text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="https://dribbble.com/themefisher"><i class="ti-dribbble text-primary"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/plugins/jQuery/jquery.min.js")"></script>
    <!-- Bootstrap JS -->
    <script src="@Url.Content("~/Content/plugins/bootstrap/bootstrap.min.js")"></script>
    <!-- slick slider -->
    <script src="@Url.Content("~/Content/plugins/slick/slick.min.js")"></script>
    <!-- aos -->
    <script src="@Url.Content("~/Content/plugins/aos/aos.js")"></script>
    <!-- venobox popup -->
    <script src="@Url.Content("~/Content/plugins/venobox/venobox.min.js")"></script>
    <!-- mixitup filter -->
    <script src="@Url.Content("~/Content/plugins/mixitup/mixitup.min.js")"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="@Url.Content("plugins/google-map/gmap.js")"></script>

    <!-- Main Script -->
    <script src="@Url.Content("~/Content/js/script.js")"></script>
    @RenderSection("scripts", false);
</body>
</html>